#########################################################################
#               BASE SETTINGS                                           #
#########################################################################

aws_region_name = ""
aws_access_key_id = ""
aws_secret_key = ""

#########################################################################
#                              VPC                                      #
#########################################################################

#----------------------------  VPC  ------------------------------------#

vpc_cidr_block = ""
vpc_dns_support_enabled = true/false
vpc_dns_hostnames_enabled = true/false
vpc_tags = {
  Name = ""
}

#-----------------------------  IGW  -----------------------------------#

igw_tags = {
  Name = "" 
}

#----------------------------SUBNETS -----------------------------------#

####### subnet A

subnet_public_a_cidr = ""
subnet_public_a_az = ""
subnet_public_a_tags = {
  Name = ""
}

####### subnet B

subnet_public_b_cidr = ""
subnet_public_b_az = ""
subnet_public_b_tags = {
  Name = ""
}

####### subnet C

subnet_public_c_cidr = ""
subnet_public_c_az = ""
subnet_public_c_tags = {
  Name = ""
}

#----------------------  ROUTE TABLES  -------------------------------#

public_rt_route_cidr = ""
public_rt_tags = {
  Name = ""
}

#########################################################################
#                           SECURITY                                    #
#########################################################################

#-------------------------  SECURITY GROUPS  ---------------------------#

security_groups_with_rules = {
  "" = {
    description = "",
    sg_tags = {
      "" = "",
      "" = ""
    }
    rules = [
      ["", "", "", "", "", ""],
      ["", "", "", "", "", ""]
    ]
  }
   "" = {
    description = "",
    sg_tags = {
      "" = "",
      "" = ""
    }
    rules = [
      ["", "", "", "", "", ""],
      ["", "", "", "", "", ""]
    ]
  }
}

#--------------------------  SSH KEY PAIR  -----------------------------#

ssh_public_key = {
  name = ""
  public_key = <<-EOF
    put your key hear
    EOF
  key_tags   = {
    "" = "",
    "" = ""    
  }
}

#########################################################################
#                              IAM                                      #
#########################################################################

#-----------------------------  IAM POLICY -----------------------------#

iam_policy = {
  name        = ""
  path        = ""
  description = ""
  policy_tags = {
    "" = "",
    "" = ""    
  }
  statements = {
    s1 = {
      actions = [
        "",
        ""
      ]
      resources = [""]
      effect    = ""
    }
  }
}

#------------------------------  IAM ROLE  -----------------------------#

iam_role = {
  name        = ""
  description = ""
  path        = ""
  role_tags = {
    "" = ""
  }
  statements = {
    "" = {
      actions = [
        ""
      ]
      principals = {
        "" : ["",""]
      }
      effect = ""
    }
  }
}

#-----------------------  INSTANCE PROFILE  ----------------------------#

instance_profile = {
  Name = ""
  tags = {
    "" = ""
  }
}

#########################################################################
#                              EFS                                      #
#########################################################################

efs = {
  tags = {
    "" = ""
  }
}

#########################################################################
#                              ALB                                      #
#########################################################################

#----------------------------  ALB  ------------------------------------#
alb = {
  name               = ""
  alb_security_group_name = ""
  load_balancer_type = ""
  internal           = true/false
  tags = {
    "" = ""
  }
}

#------------------------  TARGET_GROUP  -------------------------------#

alb_target_group = {
  name     = ""
  port     = ""
  protocol = ""
  tags = {
    "" = ""
  }
}

#------------------------  ALB_LISTENER  -------------------------------#

alb_listener = {
  port                      = ""
  protocol                  = ""
   default_action_priority  = put here number 
  default_action_type       = ""
  tags = {
    "" = ""
  }
}

#########################################################################
#                              ASG                                      #
#########################################################################

#-------------------------  LAUNCH TEMPLATE  ---------------------------#

launch_template = {
  name                                           = ""
  instance_type                                  = ""
  image_id                                       = ""
  instance_initiated_shutdown_behavior           = ""
  network_interfaces_associate_public_ip_address = true/false
  network_interfaces_ec2_pool_name               = ""
  network_interfaces_device_index                = number
}

#------------------------------  ASG  ----------------------------------#

asg = {
  name                    = ""
  capacity_rebalance      = false/true
  desired_capacity        = number
  max_size                = number
  min_size                = number
  health_check_type       = ""
  launch_template_version = ""
}